<div id="stat-card-wrapper">
  <mat-card class="callout">
    <mat-card-title-group>
      <mat-card-title>Total</mat-card-title>
      <mat-card-subtitle>projects</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div>{{ allProjects }}</div>
    </mat-card-content>
  </mat-card>

  <mat-card class="callout">
    <mat-card-title-group>
      <mat-card-title>New</mat-card-title>
      <mat-card-subtitle>projects</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div>{{ newProjects }}</div>
    </mat-card-content>
  </mat-card>

  <mat-card class="callout">
    <mat-card-title-group>
      <mat-card-title>Working</mat-card-title>
      <mat-card-subtitle>projects</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div>{{ workingProjects }}</div>
    </mat-card-content>
  </mat-card>

  <mat-card class="callout">
    <mat-card-title-group>
      <mat-card-title>Archived</mat-card-title>
      <mat-card-subtitle>projects</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div>{{ archivedProjects }}</div>
    </mat-card-content>
  </mat-card>
</div>